# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Colcon output
build
log
install

# Visual Studio Code files
.vscode

# Eclipse project files
.cproject
.project
.pydevproject

# Python artifacts
__pycache__/
*.py[cod]
.ipynb_checkpoints

sphinx_doc/_build

# CLion artifacts
.idea
cmake-build-debug/

# doxygen docs
doc/html/
.DS_Store
fuzzylite/release/bin/libfuzzylite.so.6.0
fuzzylite/release/CMakeCache.txt
fuzzylite/release/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
fuzzylite/release/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
fuzzylite/release/CMakeFiles/3.22.1/CMakeSystem.cmake
fuzzylite/release/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
fuzzylite/release/CMakeFiles/cmake.check_cache
fuzzylite/release/CMakeFiles/CMakeDirectoryInformation.cmake
fuzzylite/release/CMakeFiles/CMakeOutput.log
fuzzylite/release/CMakeFiles/fl-bin.dir/build.make
fuzzylite/release/CMakeFiles/fl-bin.dir/cmake_clean.cmake
fuzzylite/release/CMakeFiles/fl-bin.dir/compiler_depend.make
fuzzylite/release/CMakeFiles/fl-bin.dir/compiler_depend.ts
fuzzylite/release/CMakeFiles/fl-bin.dir/depend.make
fuzzylite/release/CMakeFiles/fl-bin.dir/DependInfo.cmake
fuzzylite/release/CMakeFiles/fl-bin.dir/flags.make
fuzzylite/release/CMakeFiles/fl-bin.dir/link.txt
fuzzylite/release/CMakeFiles/fl-bin.dir/progress.make
fuzzylite/release/CMakeFiles/fl-bin.dir/src/main.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/build.make
fuzzylite/release/CMakeFiles/fl-obj.dir/cmake_clean.cmake
fuzzylite/release/CMakeFiles/fl-obj.dir/compiler_depend.make
fuzzylite/release/CMakeFiles/fl-obj.dir/compiler_depend.ts
fuzzylite/release/CMakeFiles/fl-obj.dir/depend.make
fuzzylite/release/CMakeFiles/fl-obj.dir/DependInfo.cmake
fuzzylite/release/CMakeFiles/fl-obj.dir/flags.make
fuzzylite/release/CMakeFiles/fl-obj.dir/progress.make
fuzzylite/release/CMakeFiles/fl-obj.dir/src/activation/First.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/activation/General.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/activation/Highest.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/activation/Last.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/activation/Lowest.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/activation/Proportional.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/activation/Threshold.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/Benchmark.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/defuzzifier/Bisector.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/defuzzifier/Centroid.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/defuzzifier/IntegralDefuzzifier.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/defuzzifier/LargestOfMaximum.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/defuzzifier/MeanOfMaximum.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/defuzzifier/SmallestOfMaximum.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/defuzzifier/WeightedAverage.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/defuzzifier/WeightedAverageCustom.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/defuzzifier/WeightedDefuzzifier.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/defuzzifier/WeightedSum.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/defuzzifier/WeightedSumCustom.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/Exception.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/factory/ActivationFactory.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/factory/FunctionFactory.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/factory/HedgeFactory.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/factory/TNormFactory.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/fuzzylite.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/hedge/Any.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/hedge/Extremely.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/hedge/HedgeFunction.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/hedge/Not.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/hedge/Seldom.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/hedge/Somewhat.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/hedge/Very.cpp.o.d
fuzzylite/release/CMakeFiles/fl-obj.dir/src/imex/Exporter.cpp.o.d
fuzzylite/release/CMakeFiles/fl-shared.dir/cmake_clean.cmake
fuzzylite/release/CMakeFiles/fl-shared.dir/compiler_depend.make
fuzzylite/release/CMakeFiles/fl-shared.dir/compiler_depend.ts
fuzzylite/release/CMakeFiles/fl-shared.dir/depend.make
fuzzylite/release/CMakeFiles/fl-shared.dir/progress.make
fuzzylite/release/CMakeFiles/fl-static.dir/cmake_clean.cmake
fuzzylite/release/CMakeFiles/fl-static.dir/cmake_clean_target.cmake
fuzzylite/release/CMakeFiles/fl-static.dir/compiler_depend.make
fuzzylite/release/CMakeFiles/fl-static.dir/compiler_depend.ts
fuzzylite/release/CMakeFiles/fl-static.dir/depend.make
fuzzylite/release/CMakeFiles/fl-static.dir/DependInfo.cmake
fuzzylite/release/CMakeFiles/fl-static.dir/link.txt
fuzzylite/release/CMakeFiles/fl-static.dir/progress.make
fuzzylite/release/CMakeFiles/Makefile.cmake
fuzzylite/release/CMakeFiles/Makefile2
fuzzylite/release/CMakeFiles/progress.marks
fuzzylite/release/CMakeFiles/TargetDirectories.txt
fuzzylite/release/fuzzylite.pc
fuzzylite/release/Makefile
